## Dev Notebook
Getting and preparing the data.

In [23]:
import requests
import pandas as pd

#### Webscrapping

In [24]:
url = "https://finance.yahoo.com/quote/TSLA/history?period1=1523836800&period2=1681603200&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true"

resp = requests.get(url, headers={'User-Agent': 'Mozilla/5.0'})

print(resp.status_code)

200

In [25]:
df = pd.read_html(resp.text)[0]

df.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Apr 14, 2023  183.95  186.28  182.01  185.00      185.00   96306500
1  Apr 13, 2023  182.96  186.50  180.94  185.90      185.90  112933000
2  Apr 12, 2023  190.74  191.58  180.31  180.54      180.54  150256300
3  Apr 11, 2023  186.69  189.19  185.65  186.79      186.79  115770900
4  Apr 10, 2023  179.94  185.10  176.11  184.51      184.51  142154600

In [26]:
df.tail()

,Date,Open,High,Low,Close*,Adj Close**,Volume
96,"Nov 23, 2022",173.57,183.62,172.50,183.20,183.20,109536700
97,"Nov 22, 2022",168.63,170.92,166.19,169.91,169.91,78452300
98,"Nov 21, 2022",175.85,176.77,167.54,167.87,167.87,92882700
99,"Nov 18, 2022",185.05,185.19,176.55,180.19,180.19,76048900
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

#### Data Cleaning and Treatment

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         101 non-null    object
 1   Open         101 non-null    object
 2   High         101 non-null    object
 3   Low          101 non-null    object
 4   Close*       101 non-null    object
 5   Adj Close**  101 non-null    object
 6   Volume       101 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB

In [28]:
df = df.drop(df.index[-1])

df.Date = pd.to_datetime(df.Date, format="%b %d, %Y")
df["Close*"] = df["Close*"].astype(float)

df.drop(columns=["Open", "High", "Low", "Volume", "Adj Close**"], inplace=True)

In [29]:
df.head()

        Date  Close*
0 2023-04-14  185.00
1 2023-04-13  185.90
2 2023-04-12  180.54
3 2023-04-11  186.79
4 2023-04-10  184.51

In [ ]:
df.to_csv("tesla.csv", index=False)